  it 'it should {{{request_method}}} to {{{spec_name}}}' do
    # set request headers
    {{#headers.has_headers}}
      {{#headers.header_list}}
    header '{{{header_name}}}', "{{{header_value}}}"
      {{/headers.header_list}}
    {{/headers.has_headers}}
    {{! ----- }}
    {{#body.has_raw_body}}

    // Create payload
    payload = "{{{body.raw_body}}}"
    {{/body.has_raw_body}}
    {{! ----- }}
    {{#body.has_long_body}}

    // Create payload
    payload = 'set your body string'
    {{/body.has_long_body}}
    {{! ----- }}
    {{#body.has_url_encoded_body}}

    // Create payload
    payload = {
    {{#body.url_encoded_body}}
      "{{{name}}}" => "{{{value}}}",
    {{/body.url_encoded_body}}
    }
    {{/body.has_url_encoded_body}}
    {{! ----- }}
    {{#body.has_multipart_body}}

    // Create payload
    payload = <<MULTI
    {{#body.multipart_body}}
      "{{{name}}}" => "{{{value}}}",
    {{/body.multipart_body}}
    MULTI
    {{/body.has_multipart_body}}
    {{! ----- }}
    {{#body.has_json_body}}

    // Create payload
    payload = {{{body.json_body_object}}}
    {{/body.has_json_body}}

    {{#body}}
    {{{request_method}}} "/users", payload
    {{/body}}
    {{^body}}
    {{{request_method}}} "/users"
    {{/body}}

    body = JSON.parse(last_response.body)

    # add expectations
  end
